<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
    <f:if condition="{CType} = 'academicpersons_listanddetail'">
        <f:then>
            <f:variable
                name="detailUri"
                value="{f:uri.action(
                    action: 'detail',
                    arguments: {
                        profile: profile
                    }
                )}"
            />
        </f:then>
        <f:else>
            <f:variable
                name="detailUri"
                value="{f:uri.action(
                    pageUid: settings.detailPid,
                    action: 'detail',
                    arguments: {
                        profile: profile
                    }
                )}"
            />
        </f:else>
    </f:if>
    <li>
        <a href="{detailUri}">
            {profile.firstName}
            {f:if(condition: profile.middleName, then: ' {profile.middleName}')}
            {profile.lastName}
        </a>
        <br>
        <f:if condition="{profile.contracts}">
            <f:for
                each="{profile.contracts}"
                as="contract"
            >
                <f:if condition="{settings.showFields}">
                    <f:then>
                        <f:render
                            section="ContractSelected"
                            arguments="{
                                contract: contract,
                                settings: settings
                            }"
                        />
                    </f:then>
                    <f:else>
                        <f:render
                            section="ContractFull"
                            arguments="{
                                contract: contract,
                                settings: settings
                            }"
                        />
                    </f:else>
                </f:if>
            </f:for>
        </f:if>
    </li>
    <f:section name="ContractSelected">
        <f:for
            each="{settings.showFields}"
            as="showField"
        >
            <f:switch expression="{showField}">
                <f:case value="contracts.position">
                    <f:if condition="{contract.position}">
                        {contract.position}<br>
                    </f:if>
                </f:case>
                <f:case value="contracts.room">
                    <f:if condition="{contract.room}">
                        {contract.room}<br>
                    </f:if>
                </f:case>
                <f:case value="contracts.officeHours">
                    <f:if condition="{contract.officeHours}">
                        {contract.officeHours}<br>
                    </f:if>
                </f:case>
                <f:case value="contracts.emailAddresses">
                    <f:if condition="{contract.emailAddresses}">
                        <strong>
                        {f:translate(
                            key: 'contracts.email',
                            extensionName: 'academic_persons',
                            default: 'Email'
                        )}:
                        </strong>
                        <ul>
                            <f:for as="item" each="{contract.emailAddresses}">
                                <li>
                                    <f:link.email email="{item.email}" />
                                </li>
                            </f:for>
                        </ul>
                    </f:if>
                </f:case>
                <f:case value="contracts.phoneNumbers">
                    <f:if condition="{contract.phoneNumbers}">
                        <strong>
                            {f:translate(
                                key: 'contracts.phone',
                                extensionName: 'academic_persons',
                                default: 'Phone'
                            )}:
                        </strong>
                        <f:for as="item" each="{contract.phoneNumbers}">
                            <a href="tel:{item.phone}">{item.phone}</a>
                        </f:for>
                    </f:if>
                </f:case>
                <f:case value="contracts.physicalAddresses">
                    <f:if condition="{contract.physicalAddresses}">
                        <strong>
                            {f:translate(
                                key: 'contracts.address',
                                extensionName: 'academic_persons',
                                default: 'Address'
                            )}:
                        </strong>
                        <ul>
                            <f:for as="item" each="{contract.physicalAddresses}">
                                <li>
                                    <f:if condition="{item.zip} || {item.city}">
                                        {item.zip} {item.city}
                                    </f:if>
                                    <f:if condition="{item.street} || {item.streetNumber}">
                                        | {item.street} {item.streetNumber}
                                    </f:if>
                                    <f:if condition="{item.country}">
                                        | {item.country}
                                    </f:if>
                                    <f:if condition="{item.state}">
                                        | {item.state}
                                    </f:if>
                                </li>
                            </f:for>
                        </ul>
                    </f:if>
                </f:case>
            </f:switch>
        </f:for>
    </f:section>
    <f:section name="ContractFull">
        <f:if condition="{contract.position}">
            {contract.position}<br>
        </f:if>
        <f:if condition="{contract.room}">
            {contract.room}<br>
        </f:if>
        <f:if condition="{contract.officeHours}">
            {contract.officeHours}<br>
        </f:if>
        <f:if condition="{contract.emailAddresses}">
            <strong>
            {f:translate(
                key: 'contracts.email',
                extensionName: 'academic_persons',
                default: 'Email'
            )}:
            </strong>
            <ul>
                <f:for as="item" each="{contract.emailAddresses}">
                    <li>
                        <f:link.email email="{item.email}" />
                    </li>
                </f:for>
            </ul>
        </f:if>
        <f:if condition="{contract.phoneNumbers}">
            <strong>
                {f:translate(
                    key: 'contracts.phone',
                    extensionName: 'academic_persons',
                    default: 'Phone'
                )}:
            </strong>
            <f:for as="item" each="{contract.phoneNumbers}">
                <a href="tel:{item.phone}">{item.phone}</a>
            </f:for>
        </f:if>
        <f:if condition="{contract.physicalAddresses}">
            <strong>
                {f:translate(
                    key: 'contracts.address',
                    extensionName: 'academic_persons',
                    default: 'Address'
                )}:
            </strong>
            <ul>
                <f:for as="item" each="{contract.physicalAddresses}">
                    <li>
                        <f:if condition="{item.zip} || {item.city}">
                            {item.zip} {item.city}
                        </f:if>
                        <f:if condition="{item.street} || {item.streetNumber}">
                            | {item.street} {item.streetNumber}
                        </f:if>
                        <f:if condition="{item.country}">
                            | {item.country}
                        </f:if>
                        <f:if condition="{item.state}">
                            | {item.state}
                        </f:if>
                    </li>
                </f:for>
            </ul>
        </f:if>
    </f:section>
</html>
