/.idea

/.Build
/var

/.php-cs-fixer.cache
/composer.json.original
/composer.json.testing
/composer.lock

/Documentation-GENERATED-temp

/.cache/
/Build/testing-docker/.env

/tailor-version-artefact/
