<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<div class="academic-persons-card">
    <f:if condition="{profiles}">
        <f:then>
            <div class="row">
                <f:for each="{profiles}" as="profile">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <f:render
                            partial="Profile/Item"
                            arguments="{
                                settings: settings,
                                profile: profile,
                                data: data
                            }"
                        />
                    </div>
                </f:for>
            </div>
        </f:then>
        <f:else>
            <p>{f:translate(key: 'list.noProfilesFound', extensionName: 'academic_persons')}</p>
        </f:else>
    </f:if>
</div>

</html>
