<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<div class="academic-persons-card">
    <f:if condition="{profiles}">
        <f:then>
            <f:render
                partial="Profile/List/Items"
                arguments="{
                    profiles: profiles,
                    settings: settings,
                    data: data
                }"
            />
        </f:then>
        <f:else>
            <f:render
                partial="Profile/List/EmptyState"
                arguments="{
                    settings: settings,
                    data: data
                }"
            />
        </f:else>
    </f:if>
</div>

</html>
