<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<div class="academic-persons-detail">
    <h1>
        {profile.title} {profile.firstName} {profile.middleName} {profile.lastName}
    </h1>

    <f:if condition="{profile.image}">
        <f:image
            image="{profile.image}"
            maxWidth="500"
            maxHeight="500"
            alt="{profile.title} {profile.firstName} {profile.middleName} {profile.lastName}"
        />
    </f:if>

    <f:comment><!-- Contracts --></f:comment>

    <h2>{f:translate(key: 'detail.contracts', extensionName: 'academic_persons')}</h2>

    <f:for each="{profile.contracts}" as="contract">
        <div class="card mt-4">
            <div class="card-header">
                <h3>{contract.position}</h3>
            </div>

            <div class="card-body">
                <f:if condition="{contract.room}">
                    <p>
                        <strong>{f:translate(key: 'detail.room', extensionName: 'academic_persons')}:</strong> {contract.room}
                    </p>
                </f:if>

                <f:if condition="{contract.phoneNumbers}">
                    <p>
                        <strong>{f:translate(key: 'detail.phoneNumbers', extensionName: 'academic_persons')}:</strong>

                        <f:for
                            each="{contract.phoneNumbers}"
                            as="phoneNumber"
                            iteration="phoneNumbersIterator"
                        >
                            {phoneNumber.phoneNumber}
                            {f:if(
                                condition: '{phoneNumber.type}',
                                then: '({phoneNumber.type})'
                            )}{f:if(
                                condition: '!{phoneNumbersIterator.isLast}',
                                then: ', '
                            )}
                        </f:for>
                    </p>
                </f:if>

                <f:if condition="{contract.emailAddresses}">
                    <p>
                        <strong>{f:translate(key: 'detail.emailAddresses', extensionName: 'academic_persons')}:</strong>

                        <f:for
                            each="{contract.emailAddresses}"
                            as="emailAddress"
                            iteration="emailAddressesIterator"
                        >
                            {emailAddress.email}
                            {f:if(
                                condition: '{emailAddress.type}',
                                then: '({emailAddress.type})'
                            )}{f:if(
                                condition: '!{emailAddressesIterator.isLast}',
                                then: ', '
                            )}
                        </f:for>
                    </p>
                </f:if>

                <f:if condition="{contract.physicalAddresses}">
                    <f:for
                        each="{contract.physicalAddresses}"
                        as="physicalAddress"
                    >
                        <p>
                            <f:if condition="{physicalAddress.type}">
                                <strong>{f:translate(key: 'detail.physicalAddress.{physicalAddress.type}', extensionName: 'academic_persons')}:</strong>
                            </f:if>

                            {physicalAddress.street} {physicalAddress.streetNumber}{physicalAddress.additional},
                            {physicalAddress.zip} {physicalAddress.city}{f:if(
                                condition: '{physicalAddress.state}',
                                then: ', {physicalAddress.state}'
                            )}{f:if(
                                condition: '{physicalAddress.country}',
                                then: ', {physicalAddress.country}'
                            )}
                        </p>
                    </f:for>
                </f:if>
            </div>
        </div>
    </f:for>

    <h2 class="mt-4">{f:translate(key: 'detail.additionalInformation', extensionName: 'academic_persons')}</h2>

    <f:if condition="{profile.website}">
        <p>
            <strong>{f:translate(key: 'detail.website', extensionName: 'academic_persons')}:</strong>

            <f:link.typolink
                parameter="{profile.website}"
                target="_blank"
                absolute="true"
                title="{f:if(
                    condition: '{profile.websiteTitle}',
                    then: '{profile.websiteTitle}',
                    else: '{profile.website}'
                )}"
            >
                {f:if(
                    condition: '{profile.websiteTitle}',
                    then: '{profile.websiteTitle}',
                    else: '{profile.website}'
                )}
            </f:link.typolink>
        </p>
    </f:if>

    <f:comment><!-- Profile (text) --></f:comment>

    <f:for
        each="{
            0:'teachingArea',
            1:'coreCompetences',
            2:'supervisedThesis',
            3:'supervisedDoctoralThesis',
            4:'miscellaneous'
        }"
        as="text"
    >
        <f:if condition="profile.{text}">
            <div class="card mt-4">
                <div class="card-header">
                    <h3>{f:translate(key: 'detail.{text}', extensionName: 'academic_persons')}</h3>
                </div>

                <div class="card-body">
                    {profile.{text} -> f:format.html()}
                </div>
            </div>
        </f:if>
    </f:for>

    <f:comment><!-- Profile (timeline) --></f:comment>

    <f:for
        each="{
            0:'scientificResearch',
            1:'vita',
            2:'memberships',
            3:'cooperation',
            4:'publications',
            5:'lectures',
            6:'pressMedia'
        }"
        as="timeline"
    >
        <f:if condition="{profile.{timeline} -> f:count()} > 0 || {timeline} == 'publications' && {profile.publicationsLink}">
            <div class="card mt-4">
                <div class="card-header">
                    <h3>{f:translate(key: 'detail.{timeline}', extensionName: 'academic_persons')}</h3>
                </div>

                <div class="card-body">
                    <f:if condition="{timeline} == 'publications' && {profile.publicationsLink}">
                        <p>
                            <strong>{f:translate(key: 'detail.publicationsLink', extensionName: 'academic_persons')}:</strong>

                            <f:link.typolink
                                parameter="{profile.publicationsLink}"
                                target="_blank"
                                absolute="true"
                                title="{f:if(
                                    condition: '{profile.publicationsLinkTitle}',
                                    then: '{profile.publicationsLinkTitle}',
                                    else: '{profile.publicationsLink}'
                                )}"
                            >
                                {f:if(
                                    condition: '{profile.publicationsLinkTitle}',
                                    then: '{profile.publicationsLinkTitle}',
                                    else: '{profile.publicationsLink}'
                                )}
                            </f:link.typolink>
                        </p>
                    </f:if>

                    <dl>
                        <f:for each="{profile.{timeline}}" as="item">
                            <dt>
                                <f:if condition="{item.yearStart} || {item.yearEnd}">
                                    <f:then>
                                        <f:variable name="yearString">
                                            <f:if condition="!{item.yearEnd} && {item.yearStart}">
                                                {f:translate(key: 'detail.since', extensionName: 'academic_persons')}
                                            </f:if>

                                            {f:if(condition: '{item.yearStart} > 0', then: '{item.yearStart}')}

                                            <f:if condition="{item.yearEnd} && {item.yearStart}">
                                                -
                                            </f:if>

                                            <f:if condition="!{item.yearStart} && {item.yearEnd}">
                                                {f:translate(key: 'detail.till', extensionName: 'academic_persons')}
                                            </f:if>

                                            {f:if(condition: '{item.yearEnd} > 0', then: '{item.yearEnd}')}
                                        </f:variable>
                                    </f:then>
                                    <f:else>
                                        <f:variable name="yearString">
                                            {f:if(condition: '{item.year} > 0', then: '{item.year}')}
                                        </f:variable>
                                    </f:else>
                                </f:if>

                                {yearString}{f:if(condition: '{yearString}', then: ':')}
                                {item.title}
                            </dt>

                            <dd>{item.bodytext -> f:format.html()}</dd>
                        </f:for>
                    </dl>
                </div>
            </div>
        </f:if>
    </f:for>
</div>
</html>
