<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
    <h1>
        {profile.firstName} {profile.lastName}
    </h1>
    <f:if condition="{profile.image}">
        <f:image
            image="{profile.image}"
            maxWidth="500"
            maxHeight="500"
            alt="{profile.firstName} {profile.lastName}"
        />
    </f:if>
    <p>
        <f:if condition="{profile.gender}">{profile.gender}</f:if>
        <f:if condition="{profile.title}">{profile.title}</f:if>
        {profile.firstName}
        {f:if(condition: profile.middleName, then: ' {profile.middleName}')}
        {profile.lastName}
    </p>

    <f:comment><!-- Contracts --></f:comment>

    <h2>Contracts</h2>

    <f:for each="{profile.contracts}" as="contract">
        <div class="card mt-4">
            <div class="card-header">
                <h3>{contract.position}</h3>
            </div>
            <div class="card-body">
                <f:if condition="{contract.room}">
                    <p>
                        <strong>Room:</strong> {contract.room}
                    </p>
                </f:if>
                <f:if condition="{contract.phoneNumbers}">
                    <p>
                        <strong>Phone number(s):</strong>
                        <f:for
                            each="{contract.phoneNumbers}"
                            as="phoneNumber"
                            iteration="phoneNumbersInterator"
                        >{f:if(condition: '{phoneNumbersInterator.isFirst}', then: '', else: ',')}
                            {phoneNumber.phoneNumber}
                            <f:if condition="{phoneNumber.type}">({phoneNumber.type})</f:if>
                        </f:for>
                    </p>
                </f:if>
                <f:if condition="{contract.emailAddresses}">
                    <p>
                        <strong>Email address(es):</strong>
                        <f:for
                            each="{contract.emailAddresses}"
                            as="emailAddress"
                            iteration="emailAddressesInterator"
                        >{f:if(condition: '{emailAddressesInterator.isFirst}', then: '', else: ',')}
                            {emailAddress.email}
                            <f:if condition="{emailAddress.type}">({emailAddress.type})</f:if>
                        </f:for>
                    </p>
                </f:if>
                <f:if condition="{contract.physicalAddresses}">                
                    <f:for
                        each="{contract.physicalAddresses}"
                        as="physicalAddress"
                        iteration="physicalAddressesInterator"
                    >
                        <p>
                            <f:if condition="{physicalAddress.type}">
                                <strong>{physicalAddress.type}:</strong>
                            </f:if>
                            {f:if(condition: '{physicalAddressesInterator.isFirst}', then: '', else: '|')}
                            {physicalAddress.street} {physicalAddress.streetNumber},
                            <f:if condition="{physicalAddress.additional}">
                                {physicalAddress.additional},
                            </f:if>
                            {physicalAddress.zip} {physicalAddress.city}
                            <f:if condition="{physicalAddress.state}">, {physicalAddress.state}</f:if>
                            <f:if condition="{physicalAddress.country}">, {physicalAddress.country}</f:if>
                        </p>
                    </f:for>
                </f:if>
            </div>
        </div>
    </f:for>

    <h2 class="mt-4">Additional Information</h2>

    <f:if condition="{profile.website}">
        <p>
            <strong>Website:</strong>
            <a href="{profile.website}" target="_blank">
                {f:if(
                    condition: '{profile.websiteTitle}',
                    then: profile.websiteTitle,
                    else: profile.website
                )}
            </a>
        </p>
    </f:if>

    <f:comment><!-- Profile (text) --></f:comment>

    <f:for
        each="{0:'teachingArea', 1:'coreCompetences', 2:'supervisedThesis', 3:'supervisedDoctoralThesis', 4:'miscellaneous'}"
        as="text"
    >
        <f:if condition="{profile.{text}}">
            <div class="card mt-4">
                <div class="card-header">
                    <f:comment><!--
                        Please map the key of text field to a language label on your own.
                        Example: <h3>{f:translate(key: 'my_sitepackage_title_{text}')}</h3>
                    --></f:comment>
                    <h3>{text}</h3>
                </div>
                <div class="card-body">
                    {profile.{text} -> f:format.html()}
                </div>
            </div>
        </f:if>
    </f:for>

    <f:comment><!-- Profile (timeline) --></f:comment>

    <f:for 
        each="{0:'scientificResearch', 1:'vita', 2:'memberships', 3:'cooperation', 4:'publications', 5:'lectures', 6:'pressMedia'}"
        as="timeline"
    >
        <f:if condition="{profile.{timeline}}">
            <f:then>
                <div class="card mt-4">
                    <div class="card-header">
                        <f:comment><!--
                            Please map the key of timeline to a language label on your own.
                            Example: <h3>{f:translate(key: 'my_sitepackage_title_{timeline}')}</h3>
                        --></f:comment>
                        <h3>{timeline}</h3>
                    </div>
                    <div class="card-body">
                        <f:comment><!--
                            Add content depending on the timeline.
                        --></f:comment>
                        <f:if condition="{timeline}=='publications' && {profile.publicationsLink}">
                            <p>
                                <strong>Link to publications:</strong>
                                <a href="{profile.publicationsLink}" target="_blank">
                                    {f:if(
                                        condition: '{profile.publicationsLinkTitle}',
                                        then: profile.publicationsLinkTitle,
                                        else: profile.publicationsLink
                                    )}
                                </a>
                            </p>
                        </f:if>
                        <dl>
                            <f:for each="{profile.{timeline}}" as="item">
                                <dt>
                                    <f:if condition="{item.yearStart} || {item.yearEnd}">
                                        <f:then>
                                            <f:variable name="yearString">
                                                {f:if(condition: '!{item.yearEnd}', then: 'since')}
                                                {f:if(condition: '{item.yearStart}', then: item.yearStart)}
                                                {f:if(condition: '{item.yearEnd}', then: 'till')}
                                                {f:if(condition: '{item.yearEnd}', then: item.yearEnd)}
                                            </f:variable>
                                        </f:then>
                                        <f:else>
                                            <f:variable name="yearString">
                                                {item.year}
                                            </f:variable>
                                        </f:else>
                                    </f:if>
                                    {yearString}{f:if(condition: '{yearString}', then: ':')}
                                    {item.title}
                                </dt>
                                <dd>{item.bodytext -> f:format.html()}</dd>
                            </f:for>
                        </dl>
                    </div>
                </div>
            </f:then>
            <f:else>
                <f:comment><!-- (Conditionally) fallback content if the timeline is not set. --></f:comment>
                <f:if condition="{timeline}=='publications' && {profile.publicationsLink}">
                    <div class="card mt-4">
                        <div class="card-header">
                            <f:comment><!--
                                Please map the key of timeline to a language label on your own.
                                Example: <h3>{f:translate(key: 'my_sitepackage_title_{timeline}')}</h3>
                            --></f:comment>
                            <h3>{timeline}</h3>
                        </div>
                        <div class="card-body">
                            <p>
                                <strong>Link to publications:</strong>
                                <a href="{profile.publicationsLink}" target="_blank">
                                    {f:if(
                                        condition: '{profile.publicationsLinkTitle}',
                                        then: profile.publicationsLinkTitle,
                                        else: profile.publicationsLink
                                    )}
                                </a>
                            </p>
                        </div>
                    </div>
                </f:if>
            </f:else>
        </f:if>
    </f:for>
</html>
