<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{settings.paginationEnabled} && {paginator.paginatedItems}">
    <f:then>
        <f:variable name="profilesToList" value="{paginator.paginatedItems}" />
    </f:then>
    <f:else>
        <f:variable name="profilesToList" value="{profiles}" />
    </f:else>
</f:if>

<div class="academic-persons-list">
    <f:if condition="{settings.alphabetPaginationEnabled}">
        <f:render
            partial="Profile/List/AlphabetPagination"
            arguments="{demand: demand}"
        />
    </f:if>

    <f:render
        partial="Profile/List/ItemList"
        arguments="{_all}"
    />
</div>

</html>
