<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{settings.paginationEnabled} && {paginator.paginatedItems}">
    <f:then>
        <f:variable name="profilesToList" value="{paginator.paginatedItems}" />
    </f:then>
    <f:else>
        <f:variable name="profilesToList" value="{profiles}" />
    </f:else>
</f:if>

<div class="academic-persons-list">
    <f:if condition="{settings.renderContentElementHeader}">
        <f:render partial="Header/All" arguments="{_all}" />
    </f:if>

    <f:comment>
        A manual selection ignores the letter filter, so every letter would show the whole
        selection: no navigation for it, whatever the content element says.
    </f:comment>
    <f:if condition="{settings.alphabetPaginationEnabled} && !{demand.profileList}">
        <f:render
            partial="Profile/List/AlphabetPagination"
            arguments="{demand: demand, alphabetFilterLetters: alphabetFilterLetters, activeListArguments: activeListArguments}"
        />
    </f:if>

    <f:render
        partial="Profile/ViewMode/Switch"
        arguments="{
            viewModes: viewModes,
            viewMode: viewMode,
            defaultViewMode: defaultViewMode,
            activeListArguments: activeListArguments,
            inDemand: 1
        }"
    />

    <f:render
        partial="Profile/List/ItemList"
        arguments="{_all}"
    />
</div>

</html>
