<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<div class="academic-persons-profiles">
    <f:render
        partial="Profile/ViewMode/Switch"
        arguments="{
            viewModes: viewModes,
            viewMode: viewMode,
            defaultViewMode: defaultViewMode
        }"
    />

    <f:if condition="{profiles}">
        <f:then>
            <f:render
                partial="Profile/ViewMode/{viewModePartial}"
                arguments="{
                    profiles: profiles,
                    settings: settings,
                    data: data
                }"
            />
        </f:then>
        <f:else>
            <f:render
                partial="Profile/List/EmptyState"
                arguments="{
                    settings: settings,
                    data: data
                }"
            />
        </f:else>
    </f:if>
</div>

</html>
