<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<f:for each="{publicProfile.details.profileImage}" as="fieldName">
    <f:if condition="{profile.{fieldName}}">
        <f:variable name="image" value="{profile.{fieldName}}" />
        <f:variable name="alt" value="{profile.title} {profile.firstName} {profile.middleName} {profile.lastName}" />
        <figure class="academic-persons-detail__figure">
            <f:render
                partial="Academic/Image"
                arguments="{
                    image: image,
                    preset: 'detail',
                    alt: alt,
                    class: 'academic-persons-detail__image img-fluid rounded-0'
                }"
            />
        </figure>
    </f:if>
</f:for>

</html>
