<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:persons="http://typo3.org/ns/FGTCLB/AcademicPersons/ViewHelpers"
>

<f:comment>
    alphabetFilterLetters maps every letter to whether its list holds a profile. A list
    template of a project that does not pass it gets every letter as a link, as before.

    Every link carries the other choices of the visitor, activeListArguments, changes
    only the letter and leads to the first page.
</f:comment>
<f:if condition="{alphabetFilterLetters}">
    <f:then>
        <f:variable name="letters" value="{alphabetFilterLetters}" />
    </f:then>
    <f:else>
        <f:variable
            name="letters"
            value="{a: 1, b: 1, c: 1, d: 1, e: 1, f: 1, g: 1, h: 1, i: 1, j: 1, k: 1, l: 1, m: 1, n: 1, o: 1, p: 1, q: 1, r: 1, s: 1, t: 1, u: 1, v: 1, w: 1, x: 1, y: 1, z: 1}"
        />
    </f:else>
</f:if>

<nav
    class="academic-persons-list__alphabet-pagination alphabetical-pagination mb-4"
    aria-label="{f:translate(key: 'list.alphabetFilter.navigation', extensionName: 'academic_persons')}"
>
    <ul class="pagination justify-content-center">
        <f:if condition="{demand.alphabetFilter}">
            <f:then>
                <li class="page-item">
                    <f:link.action
                        arguments="{demand: '{persons:listArguments(arguments: activeListArguments, overrides: {alphabetFilter: \'\'}, remove: \'currentPage\')}'}"
                        class="page-link"
                        rel="nofollow"
                    >
                        <span>A-Z</span>
                    </f:link.action>
                </li>
            </f:then>
            <f:else>
                <li class="page-item active">
                    <f:link.action
                        arguments="{demand: '{persons:listArguments(arguments: activeListArguments, overrides: {alphabetFilter: \'\'}, remove: \'currentPage\')}'}"
                        class="page-link"
                        rel="nofollow"
                        aria="{current: 'page'}"
                    >
                        <span>A-Z</span>
                    </f:link.action>
                </li>
            </f:else>
        </f:if>
        <f:for each="{letters}" as="available" key="letter">
            <f:if condition="{demand.alphabetFilter} == {letter}">
                <f:then>
                    <li class="page-item active">
                        <f:if condition="{settings.alphabet.activeLetterResets}">
                            <f:then>
                                <f:link.action
                                    arguments="{demand: '{persons:listArguments(arguments: activeListArguments, overrides: {alphabetFilter: \'\'}, remove: \'currentPage\')}'}"
                                    class="page-link"
                                    rel="nofollow"
                                    aria="{current: 'page'}"
                                >
                                    <span>{letter -> f:format.case()}</span><span class="visually-hidden"> - {f:translate(key: 'list.alphabetFilter.showAll', extensionName: 'academic_persons')}</span>
                                </f:link.action>
                            </f:then>
                            <f:else>
                                <span class="page-link" aria-current="page">
                                    {letter -> f:format.case()}
                                </span>
                            </f:else>
                        </f:if>
                    </li>
                </f:then>
                <f:else if="{available}">
                    <li class="page-item">
                        <f:link.action
                            arguments="{demand: '{persons:listArguments(arguments: activeListArguments, overrides: {alphabetFilter: letter}, remove: \'currentPage\')}'}"
                            class="page-link"
                            rel="nofollow"
                        >
                            <span>{letter -> f:format.case()}</span>
                        </f:link.action>
                    </li>
                </f:else>
                <f:else>
                    <li class="page-item disabled">
                        <span class="page-link">
                            {letter -> f:format.case()}<span class="visually-hidden"> - {f:translate(key: 'list.alphabetFilter.noProfiles', extensionName: 'academic_persons')}</span>
                        </span>
                    </li>
                </f:else>
            </f:if>
        </f:for>
    </ul>
</nav>

</html>
